.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 120px;
    text-transform: capitalize;
}
.breadcrum img{
    height: 14px;
}