.popular{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
    width: 80%;
    margin: auto;
    height: 90vh;
    margin-top: 80px;
    margin-bottom: 100px;
}
.popular h1{
    margin: auto;
    color: #454545;
    font-size: 40px;
    font-weight: 600;
    font-family: Poppins;
}
.popular hr{
    margin: auto;
    margin-bottom: 80px;
    width: 200px;
    height: 3px;
    border-radius: 10px;
    background-color: #f88c8c;
}

